<div class="flexHeader">
  <a  class="routerLink" [routerLink]="['/alumnosCurso']"><strong>Buscar alumnos por curso</strong></a>
  <a  class="routerLink" [routerLink]="['/cursosAlumno']"><strong>Buscar cursos por alumno</strong></a>
  <a  class="routerLink" [routerLink]="['/altaAlumno']"><strong>Alta alumno</strong></a>
  <a  class="routerLink" [routerLink]="['/altaCurso']"><strong>Alta curso</strong></a>
  <a  class="routerLink" [routerLink]="['/altaMatricula']"><strong>Matricula</strong></a>
  <a  class="routerLink" [routerLink]="['/buscarMatricula']"><strong>Buscar Matricula</strong></a>


</div>

<router-outlet></router-outlet>